@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
h1, h2, h3, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    padding-left: 0;
}
input{
    outline: none;
    font-family: inherit;
}
button{
    font-family: inherit;
    cursor: pointer;
    border: none;
}